:root {
  --main-light: #ffffff;
  --main-dark: #191919;
  --accent: #ff8400;
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Raleway-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Raleway-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/anybody-v11-latin-regular.woff2') format('woff2');
}

*,
*::after,
*::before {
  box-sizing: border-box;

  &::selection {
    background-color: var(--accent);
    color: var(--main-light);
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  
  * {
    font-family: 'Raleway', Arial, sans-serif;
    color: var(--main-dark);
  }
}

button {
  padding: 0.7em 2em;
  font-size: 1rem;
  background-color: var(--main-dark);
  border: none;
  color: var(--main-light);
  transition: background-color 200ms ease;

  &:hover {
    background-color: var(--accent);
  }

  &:active {
    box-shadow: #e44100 0 4px 0 0 inset;
  }
}


.display-photo {
  flex: 1;
  width: 40%;
  min-width: 400px;
  min-height: 300px;
  
  background-color: aquamarine;
  background-image: url(./images/display-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .credit {
    background: linear-gradient(180deg, rgba(2,0,36,0.5) 0%, rgba(2,53,91,0.3) 40%, rgba(0,212,255,0) 90%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.75em;
    color: var(--main-light);
    a { color: inherit; opacity: 75%;}
  }
}

.brand {
  font-size: 5rem;
  display: block;
  position: relative;
  bottom: 0.5em;
  user-select: none;

  #brand-name {
    font-family: 'Anybody', 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
  }

  #logo {
    height: 1.2em;
    position: relative;
    top: 12px;
  }
}

main {
  flex: 1;
  width: 60%;
  padding-block: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  >* {
    padding-inline: 4rem;
  }

  h1 {
    font-size: 3em;
  }
}

label {
  display: block;
  font-size: 0.9em;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  gap: 4rem;
  padding-block: 1rem;
  margin-bottom: 2rem;
}

.form-group {
  width: 100%;

  label {
    width: fit-content;
    font-size: 0.75em;
  }

  input { 
    width: inherit;
    border: none;
    border-bottom: var(--main-dark) dotted 2px;
    padding: 1em 2px 0.25em;
    transition: border-bottom 300ms linear;
    font-size: 1em;

    &:focus {
      outline: none;
      border-bottom: var(--accent) solid 2px;
    }
  }

}

button + p {
  font-size: 0.9em;

  >a {
    color: var(--accent);
  }
}

.error-message {
  height: fit-content;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: red;
}